.redText:hover td {
    font-size: 1.2em;
    color: red;
    font-weight: bolder;
    cursor: pointer;
}

.redText:hover::before {
    content: "Cliquer pour éditer";
    position: absolute;
    bottom: calc(80% + 5px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.5em; /* Augmentation de la taille de la police */
    white-space: nowrap;
}
.redText:hover::after {
    content: "";
    position: absolute;
    bottom: calc(
        55% + 5px
    ); /* Position de la flèche par rapport au conteneur de l'info-bulle */
    left: 50%; /* Position horizontale centrale */
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
td {
    vertical-align: middle;
}
